{% load  static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="{% static 'style.css' %}">

    <title>Weather App</title>
</head>
<body>
    <h1>Weather Search</h1>

    <form method="POST">
        {% csrf_token %}
        <input type="text" name="city" placeholder="Enter City" value="{{ city }}">
        <button type="submit">Search</button>
    </form>

    <h2>Weather for {{ city }} on {{ day }}</h2>
    <p>Description: {{ desc }}</p>
    <p>Temperature: {{ temp }} °C</p>
    <img src="http://openweathermap.org/img/wn/{{ icon }}@2x.png" alt="Weather icon" />

</body>
</html>
